#cabecera,
#contenido,
#piePagina {
    border: 1px solid black;
    background-color: cadetblue;
    margin: 5px;
    text-align: center;
}

#cabecera {
    height: 7em;
}

#contenido {
    width: 85%;
    margin: auto;
    height: 25em;
}

#piePagina {
    height: 5em;
}

#opciones,
#barraNavegacion,
#logo,
#articulos,
#identificacion,
#busquedaNoticias {
    display: none;
}